/* Header */
.header{
    background: #202020;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 999;
}
.header .inner-logo a{
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}
/* End Header */

/* Body */
.body .slider{
    width: 150px;
    background: #323232;
    color: #fff;
    height: calc(100vh - 56px);
    position: fixed;
    top: 56px;
    left: 0
}
.body .main{
    margin: 15px;
    position: relative;
    left: 150px;
    width: calc(100% - 180px)
}
/* End Body */

/* Slider */
.slider .inner-menu ul{
    list-style: none;
    padding: 0;
    margin: 0
}
.slider .inner-menu ul li a{
    color: #fff;
    display: block;
    padding: 6px 10px;
    text-decoration: none;
    border-bottom: 1px solid #515151;
    /* font-style: italic; */
}
.slider .inner-menu ul li a:hover{
    color: #00e6b8;
}
/* End Slider */

/* Modify & delete buttons */
.table tbody .modify,.table tbody .delete{
    margin: 0 2px;
}
.table{
    text-align: center;
}
.table tbody .stock-counter{
    font-size: 20px;
    /* font-weight: 500; */
}
.modify:hover, .delete:hover{
    scale: 1.03;
}
/* End Modify & delete buttons */


/* Search and Filter */
.main .card.mb-3{
    margin-top: 30px;
}
.main .card-body button{
    margin-right: 3px;
}
.main .card-body button:hover{
    transform: scale(1.05);
    background-color: transparent;
    border-color: #198754;
    color: #198754
}
.main .card-body button.active:hover{
    transform: scale(1.05);
    background-color: #198754;
    border-color: #198754;
    color: #fff;
}
/* End search and Filter */


/* Change Multi */
form[form-change-multi]{
    margin: 70px 0
}
/* End change multi */