mixin form_change_multi(path)
    form(action=path method="POST" form-change-multi)
        //- data submitted to back end will be in the form {type: "delete" || "change-position" , ids: "...."}
        .d-flex.align-items-start.justify-content-start
            .form-group
                select(name="type" class="form-control")
                    option(value="" disabled selected) --Choose your action--
                    option(value="delete") Delete
                    option(value="change-position") Change Display Position
            //- imaginary input (just to send data to back end)
            .form-.d-none
                input(name="ids" value="" type="text" class="form-control")
            button(type="submit" class="btn btn-primary") Apply