doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title= titlePage
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous")
        link(href="/client/css/default.css" rel="stylesheet")
        link(rel="preload" href="/client/images/background.webp" as="image")
        block style
    body
        include ../partials/header.pug
        main
            block main
        include ../partials/footer.pug

        block script
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous")
        //- script(src="/client/js/script.js")
        script(src="/utils/alert.js")
        script(src="/utils/sorting.js")
        script(src="/utils/pagination.js")
        script(src="/utils/search_form.js")