script(src="https://kit.fontawesome.com/15f24667ff.js" crossorigin="anonymous")
header.header
    .container-fluid
        .row.align-items-center
            .col-3
                .inner-logo
                    if role.name == "Administrator"
                        a(href="/admin") ADMIN
                    else
                        a(href="/admin") STAFF
            .col-9
                div.text-right
                    a(href="/admin/my_account")
                        i(class="fa-solid fa-circle-user fa-xl")
                    a(
                        href="/admin/auth/logout"
                        class="btn btn-danger btn-sm header-logout"
                    ) Log Out