.slider
    .inner-menu
        ul
            li
                a(href="/admin/") Dashboard
            if role.permissions.includes("products-list-view")
                li
                    a(href="/admin/product") Product List
            if role.permissions.includes("products-category-view")
                li
                    a(href="/admin/category") Product Category
            if role.permissions.includes("role-view")
                li
                    a(href="/admin/role") Role Management
            if role.permissions.includes("role-permission")
                li
                    a(href="/admin/role/permission") Permission Manangement
            if role.permissions.includes("account-view")
                li
                    a(href="/admin/account") Accounts Management