.slider
    .inner-menu
        ul
            li
                a(href="/admin/") Dashboard
            li
                a(href="/admin/product") Product List
            li
                a(href="/admin/category") Product Category
            li
                a(href="/admin/role") Role Management
            li
                a(href="/admin/role/permission") Permission Manangement
            li
                a(href="/admin/account") Accounts Management